<!DOCTYPE html>
<html lang='en'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no'>
	<head>
		<title>Game Master</title>
		<link rel='stylesheet' href='/static/vendor/timer.css' />
		<link rel='stylesheet' href='/static/css/style.css' />
		<script type= 'text/javascript' src='/static/vendor/jquery-3.2.0.min.js'></script>
		<script type= 'text/javascript' src='/socket.io/socket.io.js'></script>
		<script type= 'text/javascript' src='/static/js/pile.min.js'></script>
		<script type= 'text/javascript' src='/static/js/gm.min.js'></script>
	</head>
	<body>
		<div id='container' class='what'>
			<p class='buzz'>Spot It</p>
		</div>
	</body>
</html>
