<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no'>
		<title>Player</title>
		<link rel='stylesheet' href='static/app.min.css' />
		<script type='text/javascript' src='/static/vendor/jquery-3.2.0.min.js'></script>
		<script type='text/javascript' src='/socket.io/socket.io.js'></script>
		<script type='text/javascript' src='/static/js/pile.min.js'></script>
		<script type='text/javascript' src='/static/js/player.min.js'></script>
	</head>
	<body>
		<div class='player-container'></div>
		<input id='UserID' type='hidden' data-id='' />
		<input id='UserName' type='hidden' data-name='' />
	</body>
</html>
