.admin-container {
	height: 100%;
	width: 100%;
	overflow: hidden;
	.init-container {
		height: 100%;
		background-color: #ff9f3e;
		.center {
			text-align: center;
			position: absolute;
			width: 100%;
			top: 50%;
			margin-top: -132px;
			.game-label {
				font-family: 'PWScratched';
				font-size: 15rem;
				color: #fff;
			}
		}
		.lobby-room {
			padding-top: 6rem;
			.lobby-header {
				text-align: center;
				font-size: 4rem;
			}
			.lobby-list {
				padding: 1.5rem 0rem 0rem 35%;
				.list-header {
					font-size: 2rem;
				}
				.list-box {
					width: 500px;
					height: 500px;
					border: 1px solid black;
					margin: 1rem 0rem 0rem 2rem;
					.player-name {
						position: relative;
						font-size: 2rem;
						padding-left: 1rem;
					}
				}
			}
		}
		.footer {
			position: absolute;
			bottom: 0;
			width: 100%;
			.credit {
				float: right;
				font-size: 1.75rem;
				padding: 0.5rem;
			}
		}
	}
	.stage-container {
		height: 100%;
		background-color: rgba(255, 190, 125, 0.6);
		.remain-indicator {
			display: inline-block;
			position: absolute;
			top: 2%;
			.remain-header {
				font-family: 'JuneGull';
				font-size: 2rem;
				color: #fff;
				margin-left: 0.5rem;
				-webkit-text-stroke: 2px;
				-webkit-text-stroke-color: #88DDBB;
			}
			.remain-no {
				font-family: 'JuneGull';
				font-size: 7rem;
				color: #FFF;
				margin-left: 2rem;
			}
		}
		.player-panel {
			float: right;
			margin: 10px 17px 0px 0px;
			box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
			.player-header {
				font-size: 3rem;
				padding: 1rem;
				background-color: #a4c8f0;
				border-bottom: 1px solid #767676;
				span {
					color: #fff;
					text-shadow: 1px 1px 0 #000;
				}
			}
			ul {
				margin: 0;
				padding: 0;
				list-style-type: none;
				li {
					background: #fff;
					padding: 1rem;
					.player-no {
						margin-right: 0.5rem;
						padding: 5px 10px 5px 10px;
						color: #fff;
						background-color: #e95488;
						border-radius: 15px;
					}
					.player-name {
						font-family: 'Typo-Round';
						font-size: 1.25rem;
						color: #fff;
					}
					.player-score {
						float: right;
						margin-right: 40px;
						font-size: 1.25rem;
						color: #fff;
					}
				}
			}
			.trophy-token {
				animation-fill-mode: forwards;
				transition: transform 1s ease-in;
				position: absolute;
				top: 35px;
				right: 30px;
				height: 30px;
			}
		}

		.cards-panel {
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-60%, -50%);
			width: 75%;
			height: 105%;
			background-color: #fff;
			border-radius: 400px;
		}
	}
	.rank-container {
		text-align: center;
		position: relative;
		top: 5%;
		.rank-header {
			font-size: 6rem;
		}
		.rank-profile {
			line-height: 1rem;
			margin-top: 1rem;
			.rank-label {
				margin-right: 1rem;
				padding: 5px 12px 5px 12px;
				color: #fff;
				background-color: #e95488;
				border-radius: 15px;
				font-size: 1.5rem;
			}
			.player-name {
				font-family: 'Typo-Round';
				font-size: 2rem;
			}
			.player-score {
				margin-left: 10rem;
				font-size: 1.5rem;
			}
		}
	}
}

.countdown-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 1;
	overflow: auto;
	.countdown-background {
		position: relative;
		border-radius: 100px;
		background-color: #ff0000;
		height: 400px;
		width: 400px;
		top: 50%;
		left: 50%;
		margin-top: -200px;
		margin-left: -200px;
	}
}