.admin-container {
	height: 100%;
	width: 100%;
	// overflow: hidden;
	.init-container {
		height: 100%;
		background: linear-gradient(to left, rgba(252, 92, 125, 0.8), rgba(106, 130, 251, 0.8));
		.center {
			text-align: center;
			position: absolute;
			width: 100%;
			top: 50%;
			transform: translateY(-50%);
			.game-label {
				font-family: 'signPain';
				font-size: 15rem;
				color: white;
				text-shadow: 1px 1px 40px rgba(255, 255, 255, 0.6);
			}
		}
		.lobby-room {
			height: 100%;
			.lobby-board {
				position: relative;
				top: 5%;
				.lobby-header {
					text-align: center;
					font-size: 6rem;
					color: #fff;
					text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
					.list-header {
						font-size: 2rem;
						margin: 4rem 25% 1rem 0%;
						text-shadow: none;
					}
				}
				.list-box {
					position: absolute;
					width: 500px;
					height: 500px;
					border: 0.3rem dotted rgba(0, 0, 0, 0.8);
					left: 50%;
					transform: translateX(-50%);
					.player-name {
						position: relative;
						font-family: 'Typo-Round';
						font-size: 2rem;
						font-weight: 600;
						padding: 1rem 2rem 0rem;
					}
				}
			}
		}
		.footer {
			position: absolute;
			bottom: 0;
			width: 100%;
			.credit {
				float: right;
				font-size: 2rem;
				padding: 0.5rem 1rem;
				color: #fff;
			}
		}
	}
	.stage-container {
		height: 100%;
		background-color: rgba(255, 190, 125, 0.6);
		.remain-indicator {
			display: inline-block;
			position: absolute;
			top: 2%;
			.remain-header {
				font-size: 2rem;
				color: #fff;
				margin-left: 0.5rem;
				-webkit-text-stroke: 2px;
				-webkit-text-stroke-color: #88DDBB;
			}
			.remain-no {
				font-size: 7rem;
				color: #FFF;
				margin-left: 2rem;
				text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6);
			}
		}
		.player-panel {
			float: right;
			margin: 10px 17px 0px 0px;
			box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
			.player-header {
				font-size: 3rem;
				padding: 1rem;
				background-color: #a4c8f0;
				border-bottom: 1px solid #767676;
				span {
					color: #fff;
					text-shadow: 1px 1px 0 #000;
				}
			}
			ul {
				margin: 0;
				padding: 0;
				list-style-type: none;
				li {
					background: #fff;
					padding: 1rem;
					.player-no {
						margin-right: 0.5rem;
						padding: 5px 10px 5px 10px;
						color: #fff;
						background-color: #e95488;
						border-radius: 15px;
					}
					.player-name {
						font-family: 'Typo-Round';
						font-size: 1.25rem;
						color: #fff;
					}
					.player-score {
						float: right;
						margin-right: 40px;
						font-size: 1.25rem;
						color: #fff;
					}
				}
			}
			.trophy-token {
				animation-fill-mode: forwards;
				transition: transform 0.5s ease-in;
				position: absolute;
				top: 35px;
				right: 30px;
				height: 30px;
			}
		}

		.cards-panel {
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-60%, -50%);
			width: 75%;
			height: 105%;
			background-color: #fff;
			border-radius: 400px;
		}
	}
	.rank-container {
		position: relative;
		top: 5%;
		.rank-header {
			font-size: 6rem;
			text-align: center;
			font-family: 'signPain';

		}
		.player-list {
			// spadding-left: 42%;
			.rank-profile {
				margin-top: 5rem;
				text-align: center;
				.trophy-token {
					height: 40px;
					position: absolute;
					left: 39%;
				}
				.rank-label {
					margin-right: 9rem;
					padding: 5px 12px 5px 12px;
					color: #fff;
					background-color: #ff0015;
					border-radius: 15px;
					font-size: 2rem;
				}
				.player-name {
					font-family: 'walto';
					font-size: 2.5rem;
				}
				.player-score {
					margin-left: 10rem;
					font-size: 2rem;
				}
			}
		}
	}
}

.countdown-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 1;
	overflow: auto;
	.countdown-background {
		position: relative;
		border-radius: 100px;
		background:linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
		height: 400px;
		width: 400px;
		top: 50%;
		left: 50%;
		margin-top: -200px;
		margin-left: -200px;
	}
}

$row-color: #333333;

html,body {
  width: 100%;
  height: 100%;
}

body {
  font: 1.2em/1.4 'Oswald', sans-serif;
 
  text-align: right;
}

.rolldown-list {
  text-align: left;
  padding: 0;
  margin: 0;
}

.rolldown-list li {
  padding: 1em;
  margin-bottom: .125em;
  display: block;
  list-style: none;
  text-transform: uppercase;
}




.rolldown-list li:nth-child(2n) {
  background-color: lighten($row-color, 10%);
  
}
.rolldown-list li:nth-child(2n+1) {
  background-color: $row-color;
}


#myList {
  position: absolute;
  width: 50%; 
  left: 50%;
  margin-left: -25%;
}


.firework{
  background:url('https://media.giphy.com/media/6qQqn2IOHD5vO/source.gif');
    background-size:cover;
  background-color:lighten(peachpuff,4%);
  background-blend-mode:overlay;
  
  &::after {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: -webkit-linear-gradient(-45deg, #1e5799 0%,#bc67bf 100%); /* Chrome10+,Safari5.1+ */
    display:block;
    content:"";
    opacity:0.6;
  }


}


















