@font-face {
    font-family: 'PWScratched';
    src: url("/static/font/PWScratched.ttf");
}

@font-face {
    font-family: 'JuneGull';
    src: url("/static/font/junegull.ttf");
}

@font-face {
    font-family: 'Typo-Round';
    src: url("/static/font/typo_round/Typo_Round_Regular_Demo.otf");
}

@font-face {
    font-family: 'caveman';
    src: url("/static/font/caveman.TTF");
}

@font-face {
    font-family: 'degaws';
    src: url("/static/font/degawsdemo.otf");
}

@font-face {
    font-family: 'housePaint';
    src: url("/static/font/housePaint.ttf");
}

@font-face {
    font-family: 'london';
    src: url("/static/font/london.TTF");
}

@font-face {
    font-family: 'northFace';
    src: url("/static/font/NorthFace.ttf");
}

@font-face {
    font-family: 'saucer';
    src: url("/static/font/SaucerBB.ttf");
}
@font-face {
    font-family: 'shadser';
    src: url("/static/font/SHADSER.TTF");
}
@font-face {
    font-family: 'signPain';
    src: url("/static/font/SignPain.ttf");
}
@font-face {
    font-family: 'skirm';
    src: url("/static/font/skirmisher.ttf");
}
@font-face {
    font-family: 'theline';
    src: url("/static/font/theline.ttf");
}
@font-face {
    font-family: 'walto';
    src: url("/static/font/waltographUI.ttf");
}
@font-face {
    font-family: 'winter';
    src: url("/static/font/winter.ttf");
}

@keyframes rotating-front {
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotating-back {
    to {
        transform: rotate(-360deg);
    }
}

$gradients: (
    intro: (
      from: #4567b2,
      to: #8ab9ff
    ),
    1: (
      from: #76ad39,
      to: #cdff8a
    ),
    2: (
      from: #b24592,
      to: #f15f79
    ),
    3: (
      from: #432b58,
      to: #734b6f
    ),
    4: (
      from: #904e95,
      to: #e96450
    ),
    5: (
      from: #ff5f6d,
      to: #ffc371
    ),
    6: (
      from: #ff9068,
      to: #ff4b1f
    ),
    7: (
      from: #ffa000,
      to: #ff5000
    ),
    8: (
      from: #b993d8,
      to: #8ca6dc
    ),
    9: (
      from: #3ca55f,
      to: #b5ac59
    ),
    10: (
      from: #2a99ef,
      to: #52d9e5
    ),
    11: (
      from: #225e9e,
      to: #712c69
    )
  );

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

p {
    font-family: 'JuneGull';
    margin: 0;
}

@import "player";
@import "admin";