@font-face {
    font-family: 'JuneGull';
    src: url('/static/font/junegull.ttf');
}

@font-face {
    font-family: 'Typo-Round';
    src: url('/static/font/typo_round/Typo_Round_Regular_Demo.otf');
}

@font-face {
    font-family: 'signPain';
    src: url('/static/font/SignPain.ttf');
}

@keyframes half-rotate {
    20% { transform: rotate(0deg); }
    80% { transform: rotate(90deg); }
    100% { transform: rotate(90deg); }
}

@keyframes rotating-front {
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotating-back {
    to {
        transform: rotate(-360deg);
    }
}

@keyframes bubble {
    0%   { transform: translateY(0); }
    100% { transform: translateY(calc(-100vh - 170px)); }
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

p {
    font-family: 'JuneGull';
    margin: 0;
}

@import 'player';
@import 'admin';