@font-face {
    font-family: 'PWScratched';
    src: url("/static/font/PWScratched.ttf");
}

@keyframes rotating-front {
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotating-back {
    to {
        transform: rotate(-360deg);
    }
}

@keyframes trophy-taken {
    to {
        transform: scale(0.85, 0.85)
    }
}

html, body {
    height: 100%;
    margin: 0;
}

p {
    margin: 0;
}

@import "player";
@import "admin";