.player-container {
	height: 100%;
	width: 100%;
	overflow: hidden;
  .init-container {
		height: 100%;
    background-color: #ffac57;
    .input-section {
      height: 100%;
      .introduction-container {
        text-align: center;
        top: 15%;
        position: relative;
        .introduction-header {
          padding: 0rem 2rem;
          font-size: 5rem;
          color: #fff;
          text-shadow: 3px 4px 10px #000;
          @media screen and (max-width: 425px) {
            font-size: 4rem;
          }
          @media screen and (max-width: 360px) {
            font-size: 3rem;
          }
        }
      }
      .form-name {
        position: relative;
        top: 25%;
        text-align: center;
        .name-label {
          padding: 0rem 1rem;
          font-size: 2.5rem;
          margin-bottom: 3rem;
          @media screen and (max-width: 425px) {
            font-size: 2rem;
          }
          @media screen and (max-width: 360px) {
            font-size: 1.5rem;
          }
        }
        .name-input {
          font-family: 'Typo-Round';
          font-size: 1rem;
          margin-right: 1rem;
          padding: 6px 15px;
          border: 3px solid #c0c0c0;
          border-radius: 15px;
          @media screen and (max-width: 320px) {
            font-size: 0.8rem;
          }
        }
        .name-input:focus {
          border: 3px solid #5d5d5d;
        }
        .submit-form {
          font-family: 'JuneGull';
          font-size: 1rem;
          padding: 5px 15px;
          border: 0;
          border-radius: 5px;
          background: #F900F9;
          color: #fff;
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
          cursor: pointer;
        }
      }
    }
    .state-section {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.6);
      z-index: 1;
      overflow: hidden;
      .owl-carousel {
        touch-action: none;
        height: 100%;
        padding-top: 2rem;
        .owl-stage-outer {
          height: 80%;
          .owl-stage {
            height: 100%;
            .owl-item {
              height: 100%;
              div {
                height: 100%;
                border-radius: 20px;
                background-color: #ffac57;
              }
              .state-container {
                .state-header {
                  text-align: center;
                  padding-top: 1rem;
                  height: 15%;
                  .player-name {
                    font-family: 'Typo-Round';
                    font-size: 2.5rem;
                  }
                  .change-name {
                    position: absolute;
                    outline: none;
                    text-shadow: none;
                    height: 28px;
                    width: 28px;
                    text-align: center;
                    border-radius: 40px;
                    background: #fff;
                    border: 2px solid green;
                    color: green;
                    font-size: 16px;
                    margin: 5px 0px 0px 5px;
                  }
                }
                .state-detail {
                  height: 78%;
                  padding-top: 0.5rem;
                  .game-rule-container {
                    width: 60%;
                    padding: 1rem 0rem 1rem 1rem;
                    box-sizing: border-box;
                    .game-rule {
                      position: relative;
                      border: 2px solid #ff4848;
                      background-color: #fff;
                      border-radius: 20px;
                      .rule-header {
                        text-align: center;
                        font-size: 3rem;
                        color: #ff4848;
                        margin: 0.5rem 0rem;
                      }
                      .rule-detail {
                        font-size: 1.5rem;
                        padding: 0.5rem 1rem;
                        color: #2dc800;
                        line-height: 40px;
                        span {
                          font-size: 2.5rem;
                          margin: 0rem 0.5rem;
                          color: #000;
                        }
                      }
                      i {
                        font-size: 4rem;
                        position: absolute;
                        top: 67%;
                        right: 5%;
                        color: #000;
                        transform: rotate(-26deg);
                      }
                    }
                  }
                  .state-button-container {
                    position: absolute;
                    width: 13rem;
                    height: 13rem;
                    top: 50%;
                    left: 63%;
                    margin-top: -11%;
                    border-radius: 110px;
                    border: 8px solid #fff;
                    text-align: center;
                    line-height: 13rem;
                    perspective: 1000px;
                    .state-button, .state-not, .state-ready {
                      width: 11.5rem;
                      height: 11.5rem;
                      border-radius: 110px;
                      background: #fff;
                      .state {
                        font-size: 9rem;
                      }
                    }
                    .state-button {
                      position: relative;
                      left: 6%;
                      top: 6%;
                      line-height: 17rem;                      
                      transition: 0.6s;
                      transform-style: preserve-3d;
                    }
                    .state-not, .state-ready {
                      backface-visibility: hidden;
                      position: absolute;
                      top: 0;
                      left: 0;
                    }
                    .state-not {
                      z-index: 2;
                      transform: rotateY(0deg);
                    }
                    
                    .state-ready {
                      transform: rotateY(180deg);
                    }
                  }
                }
              }
            }
          }
        }
        .owl-dots {
          text-align: center;
          position: fixed;
          width: 100%;
          margin-top: 1rem;
          .owl-dot {
            border-radius: 50px;
            height: 12px;
            width: 12px;
            display: inline-block;
            background: #fff;
            margin-left: 5px;
            margin-right: 5px;
            &.active {
              background-color: #ff9f3e
            }
          }
        }
      }
    }
  }

  .stage-container {
    height: 100%;
    background-color: #ffbe7d;
    .score-indicator{
      float: right;
      padding: 4px;
      text-align: right;
      .score-header {
        font-size: 2rem;
        color: #fff;
        margin-right: 0.5rem;
        -webkit-text-stroke: 1px;
        -webkit-text-stroke-color: #a4c8f0;
      }
      .score-no {
        font-size: 4rem;
        margin-right: 2rem;
        color: #fff;
      }
    }
    .ban-container {
      height: 100%;
      background-color: #505050;
      .ban-label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -45%);
        width: 100%;
        text-align: center;
        font-size: 4rem;
        .ban-word {
          color: #ff0000;
          font-size: 12rem;
        }
      }
      .ban-countdown {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 2rem;
        padding: 5px 10px;
        .ban-second {
          font-size: 3rem;
          color: #fff;
        }
      }
    }
    .cards-panel {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-60%, -50%);
      width: 75%;
      height: 105%;
      background-color: #fff;
      border-radius: 400px;
    }
    .trophy-card {
      position: absolute;
      bottom: 3%;
      right: 2%;
      height: 20%;
      background-color: #fff;
      border-radius: 20px;
      padding: 0.5rem 1rem 0.5rem 1rem;
    }
  }

  .rank-container {
    height: 100%;
    text-align: center;
    line-height: 25rem;
    background-color: #ff73b9;
    .rank-header {
      display: table;
      font-size: 3rem;
      margin: 0 auto;
      color: #fff;
      .rank-no {
        font-size: 10rem;
        display: table-cell;
        vertical-align: middle;
        padding-left: 1rem;
      }
    }
    
  }
}