.player-container {
	height: 100%;
	width: 100%;
	overflow: hidden;
  .init-container {
		height: 100%;
    background-color: #ffac57;
    .input-section {
      height: 100%;
      .introduction-container {
        text-align: center;
        top: 15%;
        position: relative;
        .introduction-header {
          padding: 0rem 2rem;
          font-size: 5rem;
          color: #fff;
          text-shadow: 3px 4px 10px #000;
          @media screen and (max-width: 425px) {
            font-size: 4rem;
          }
          @media screen and (max-width: 360px) {
            font-size: 3rem;
          }
        }
      }
      .form-name {
        position: relative;
        top: 25%;
        text-align: center;
        .name-label {
          padding: 0rem 1rem;
          font-size: 2.5rem;
          margin-bottom: 3rem;
          @media screen and (max-width: 425px) {
            font-size: 2rem;
          }
          @media screen and (max-width: 360px) {
            font-size: 1.5rem;
          }
        }
        .name-input {
          font-family: 'Typo-Round';
          font-size: 1rem;
          margin-right: 1rem;
          padding: 6px 15px;
          border: 3px solid #c0c0c0;
          border-radius: 15px;
          @media screen and (max-width: 320px) {
            font-size: 0.8rem;
          }
        }
        .name-input:focus {
          border: 3px solid #5d5d5d;
        }
        .submit-form {
          font-family: 'JuneGull';
          font-size: 1rem;
          padding: 5px 15px;
          border: 0;
          border-radius: 5px;
          background: #F900F9;
          color: #fff;
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
          cursor: pointer;
        }
      }
    }
    .state-section {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.6);
      z-index: 1;
      overflow: hidden;
      .owl-carousel {
        touch-action: none;
        height: 100%;
        padding-top: 2rem;
        .owl-stage-outer {
          height: 80%;
          .owl-stage {
            height: 100%;
            .owl-item {
              height: 100%;
              div {
                height: 100%;
                border-radius: 20px;
                background-color: #fff;
                .state-outer {
                  position: absolute;
                  width: 13rem;
                  height: 13rem;
                  top: 50%;
                  left: 65%;
                  transform: translateY(-33%);
                  background-color: #fff;
                  border-radius: 110px;
                  border: 8px solid #ffac57;
                  .state-button {
                    position: absolute;
                    width: 11.5rem;
                    height: 11.5rem;
                    top: 50%;
                    left: 50%;
                    border-radius: 110px;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    line-height: 12rem;
                  }
                }
              }
            }
          }
        }
        .owl-dots {
          text-align: center;
          position: fixed;
          width: 100%;
          margin-top: 1rem;
          .owl-dot {
            border-radius: 50px;
            height: 12px;
            width: 12px;
            display: inline-block;
            background: #fff;
            margin-left: 5px;
            margin-right: 5px;
            &.active {
              background-color: #ff9f3e
            }
          }
        }
      }
    }
  }

  .stage-container {
    height: 100%;
    background-color: #ffbe7d;
    .score-indicator{
      float: right;
      padding: 4px;
      text-align: right;
      .score-header {
        font-size: 2rem;
        color: #fff;
        margin-right: 0.5rem;
        -webkit-text-stroke: 1px;
        -webkit-text-stroke-color: #a4c8f0;
      }
      .score-no {
        font-size: 4rem;
        margin-right: 2rem;
        color: #fff;
      }
    }
    .ban-container {
      height: 100%;
      background-color: #505050;
      .ban-label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -45%);
        width: 100%;
        text-align: center;
        font-size: 4rem;
        .ban-word {
          color: #ff0000;
          font-size: 12rem;
        }
      }
      .ban-countdown {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 2rem;
        padding: 5px 10px;
        .ban-second {
          font-size: 3rem;
          color: #fff;
        }
      }
    }
    .cards-panel {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-60%, -50%);
      width: 75%;
      height: 105%;
      background-color: #fff;
      border-radius: 400px;
    }
    .trophy-card {
      position: absolute;
      bottom: 3%;
      right: 2%;
      height: 20%;
      background-color: #fff;
      border-radius: 20px;
      padding: 0.5rem 1rem 0.5rem 1rem;
    }
  }

  .rank-container {
    height: 100%;
    text-align: center;
    line-height: 25rem;
    background-color: #ff73b9;
    .rank-header {
      display: table;
      font-size: 3rem;
      margin: 0 auto;
      color: #fff;
      .rank-no {
        font-size: 10rem;
        display: table-cell;
        vertical-align: middle;
        padding-left: 1rem;
      }
    }
    
  }
}